openapi: 3.1.0
info:
  title: varg API
  version: 2.0.0
  description: |
    Unified REST API for AI media generation at `api.varg.ai/v2`.

    One API key, ~80 models across 8 providers, async jobs, stable output URLs
    on `s3.varg.ai`, files with lineage, and transparent credit billing
    (1 credit = 1 cent = $0.01).

    **The async job pattern:** every generation request returns `202 Accepted`
    with a job object (`status: queued`). Poll `GET /jobs/{id}` until the job
    reaches a terminal status (`completed`, `failed`, or `cancelled`), then read
    `output.outputs[0].url`. Alternatively, set `options.webhook_url` in the
    request to receive an HMAC-signed callback when the job finishes.
servers:
  - url: https://api.varg.ai/v2
security:
  - bearerAuth: []
tags:
  - name: Generation
    description: Create generation jobs (image, video, speech, music, transcription, ffmpeg, render, pipeline)
  - name: Tools
    description: Discover tools, their schemas, and call any tool generically
  - name: Jobs
    description: Poll and manage job lifecycle
  - name: Files
    description: Upload, import, probe, and manage files
  - name: Lineage
    description: Resolve which job produced a file
  - name: Pricing
    description: Estimate costs and browse the price catalog
  - name: Billing
    description: Balance, usage, and transaction history
  - name: Account
    description: Identity and API key management

paths:
  # ── Generation ─────────────────────────────────────────────────────────────
  /image:
    post:
      tags: [Generation]
      operationId: createImage
      summary: Generate an image
      description: |
        Create an image generation job. Also handles image editing (send a
        source image in `files` with an edit-capable model like
        `nano_banana_pro/edit`) and image upscaling (`clarity_upscaler`,
        `aura_sr`, `topaz`, ...).

        Returns `202` with a queued job. Poll `GET /jobs/{id}` until `completed`.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageRequest"
            examples:
              text-to-image:
                summary: Text to image
                value:
                  model: flux_schnell
                  prompt: a cat astronaut floating in space, photorealistic
                  aspect_ratio: "16:9"
              image-edit:
                summary: Image editing (nano banana pro)
                value:
                  model: nano_banana_pro/edit
                  prompt: make the sky purple and add northern lights
                  files:
                    - url: https://s3.varg.ai/files/acc_x/file_abc.png
              pinned-provider:
                summary: Pin an exact provider
                value:
                  model: "fal:flux_schnell"
                  prompt: sunset over mountains
              provider-options:
                summary: Provider-native overrides
                value:
                  model: flux_dev
                  prompt: a serene mountain lake at sunrise
                  provider_options:
                    fal:
                      seed: 42
                      num_images: 2
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "200":
          $ref: "#/components/responses/JobReplay"
        "402":
          $ref: "#/components/responses/InsufficientBalance"
        "404":
          $ref: "#/components/responses/ModelNotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/NoPricing"

  /video:
    post:
      tags: [Generation]
      operationId: createVideo
      summary: Generate a video
      description: |
        Create a video generation job. Handles text-to-video, image-to-video
        (send a start frame in `files`), lipsync (`sync_v2`, `veed_fabric_1.0`,
        `omnihuman_v1.5`, ...), video editing (`grok_imagine_edit`), avatars
        (`heygen_avatar`), and video upscaling (`topaz_video`, `seedvr_video`).

        When `files` contains an image and the model has an image-to-video
        variant, varg routes to it automatically — same model family, never
        substituted.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoRequest"
            examples:
              text-to-video:
                summary: Text to video
                value:
                  model: kling_v3
                  prompt: cat jumping over a fence in slow motion
                  duration: 5
                  aspect_ratio: "16:9"
              image-to-video:
                summary: Image to video
                value:
                  model: kling_v3
                  prompt: the cat turns and looks at the camera
                  files:
                    - url: https://s3.varg.ai/files/acc_x/cat.jpg
              lipsync:
                summary: Lipsync (video + audio)
                value:
                  model: sync_v2
                  files:
                    - url: https://s3.varg.ai/files/acc_x/talking.mp4
                    - url: https://s3.varg.ai/files/acc_x/voice.mp3
              webhook:
                summary: With completion webhook
                value:
                  model: sora_2
                  prompt: aerial shot of a coastal city at golden hour
                  options:
                    webhook_url: https://example.com/varg-webhook
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "200":
          $ref: "#/components/responses/JobReplay"
        "402":
          $ref: "#/components/responses/InsufficientBalance"
        "404":
          $ref: "#/components/responses/ModelNotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/NoPricing"

  /speech:
    post:
      tags: [Generation]
      operationId: createSpeech
      summary: Generate speech (TTS)
      description: Convert text to speech. ElevenLabs models (`eleven_v3`, `eleven_turbo_v2_5`, `eleven_multilingual_v2`, ...).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpeechRequest"
            examples:
              basic:
                summary: Text to speech
                value:
                  model: eleven_v3
                  text: Hello everyone! Welcome to my channel.
                  voice: rachel
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "200":
          $ref: "#/components/responses/JobReplay"
        "402":
          $ref: "#/components/responses/InsufficientBalance"
        "404":
          $ref: "#/components/responses/ModelNotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/NoPricing"

  /music:
    post:
      tags: [Generation]
      operationId: createMusic
      summary: Generate music
      description: Generate a music track from a text prompt (`music_v1`, `eleven_music`).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MusicRequest"
            examples:
              basic:
                summary: Music from prompt
                value:
                  model: music_v1
                  prompt: upbeat electronic music, cheerful vibes, 120 bpm
                  duration: 30
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "200":
          $ref: "#/components/responses/JobReplay"
        "402":
          $ref: "#/components/responses/InsufficientBalance"
        "404":
          $ref: "#/components/responses/ModelNotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/NoPricing"

  /transcription:
    post:
      tags: [Generation]
      operationId: createTranscription
      summary: Transcribe audio
      description: Transcribe an audio file by URL (`whisper`, `groq_whisper_large_v3_turbo`, ...).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TranscriptionRequest"
            examples:
              basic:
                summary: Transcribe an audio URL
                value:
                  model: whisper
                  audio_url: https://s3.varg.ai/files/acc_x/voice.mp3
                  language: en
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "200":
          $ref: "#/components/responses/JobReplay"
        "402":
          $ref: "#/components/responses/InsufficientBalance"
        "404":
          $ref: "#/components/responses/ModelNotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/NoPricing"

  /ffmpeg:
    post:
      tags: [Generation]
      operationId: runFfmpeg
      summary: Run an ffmpeg operation
      description: |
        Media processing via ffmpeg. One endpoint, four operation modes selected
        by the `model` field:

        | Model | Operation | Fields |
        |---|---|---|
        | `rendi_ffmpeg` | Generic command | `command`, `input_files`, `output_files` |
        | `rendi_ffmpeg_trim` | Trim | `url`, `start`, `end` or `duration`, `precise` |
        | `rendi_ffmpeg_resize` | Resize | `url`, `width`/`height`, `fit` |
        | `rendi_ffmpeg_slice` | Slice into segments | `video_url`, `every`/`at`/`count`/`ranges`, `codec`, `thumbnails` |

        Generic commands use placeholder references, e.g.
        `-i {{in_1}} -t 5 {{out_1}}` with `input_files` mapping `in_1` to a URL
        and `output_files` mapping `out_1` to an output filename.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FfmpegRequest"
            examples:
              trim:
                summary: Trim a video
                value:
                  model: rendi_ffmpeg_trim
                  url: https://s3.varg.ai/files/acc_x/video.mp4
                  start: 2.5
                  duration: 5
                  precise: true
              resize:
                summary: Resize to 9:16
                value:
                  model: rendi_ffmpeg_resize
                  url: https://s3.varg.ai/files/acc_x/video.mp4
                  width: 1080
                  height: 1920
                  fit: cover
              slice:
                summary: Slice every 10 seconds
                value:
                  model: rendi_ffmpeg_slice
                  video_url: https://s3.varg.ai/files/acc_x/long.mp4
                  every: 10
                  codec: copy
                  thumbnails: true
              command:
                summary: Generic ffmpeg command
                value:
                  model: rendi_ffmpeg
                  command: "-i {{in_1}} -vf scale=1280:720 -c:a copy {{out_1}}"
                  input_files:
                    in_1: https://s3.varg.ai/files/acc_x/video.mp4
                  output_files:
                    out_1: resized.mp4
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "200":
          $ref: "#/components/responses/JobReplay"
        "402":
          $ref: "#/components/responses/InsufficientBalance"
        "404":
          $ref: "#/components/responses/ModelNotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/NoPricing"

  /render:
    post:
      tags: [Generation]
      operationId: createRender
      summary: Render TSX to video
      description: |
        Submit varg TSX code and get back a rendered video (or image frames).
        No local setup needed — the render runs in the cloud, generating AI
        assets and stitching them together.

        Billing: a flat stitching fee (~5 credits) plus each AI sub-generation
        billed as its own job. Sub-generation assets are linked to the render
        job, so partial work is recoverable even if the render fails.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenderRequest"
            examples:
              basic:
                summary: Render a short clip
                value:
                  code: "import { Render, Clip, Image, Video } from \"vargai/react\";\nimport { fal } from \"vargai/ai\";\nconst img = Image({ prompt: \"cute orange cat, Pixar style\", aspectRatio: \"9:16\", model: fal.imageModel(\"nano_banana_pro\") });\nexport default <Render width={1080} height={1920}><Clip duration={3}><Video prompt={{ text: \"cat waves hello\", images: [img] }} model={fal.videoModel(\"kling_v3\")} /></Clip></Render>;"
                  mode: strict
                  output: video
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "200":
          $ref: "#/components/responses/JobReplay"
        "402":
          $ref: "#/components/responses/InsufficientBalance"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

  /pipeline:
    post:
      tags: [Generation]
      operationId: createPipeline
      summary: Run a custom pipeline
      description: |
        Run a registered multi-step pipeline (e.g. `v2vStitch`). Pipelines are
        access-gated per account — contact varg to get access to a pipeline.
        The `model` field is the pipeline name; remaining fields are defined by
        the pipeline's own input schema (discover it via
        `GET /tools/pipeline?model=<name>`).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PipelineRequest"
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "200":
          $ref: "#/components/responses/JobReplay"
        "402":
          $ref: "#/components/responses/InsufficientBalance"
        "403":
          description: No access to this pipeline
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          $ref: "#/components/responses/ModelNotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ── Tools ──────────────────────────────────────────────────────────────────
  /tools:
    get:
      tags: [Tools]
      operationId: listTools
      summary: List tools
      description: List every registered tool (capability) with a short description.
      responses:
        "200":
          description: Tool list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        tool_key:
                          type: string
                          example: image
                        description:
                          type: string
                          example: Generate images from text prompts

  /tools/{tool_key}:
    get:
      tags: [Tools]
      operationId: getTool
      summary: Get tool metadata
      description: |
        Full metadata for one tool: JSON Schema for its input, output shape,
        and a worked example. Pass `?model=<model>` to enrich `provider_options`
        with the explicit per-provider schema for that model (instead of the
        generic passthrough bag).
      parameters:
        - name: tool_key
          in: path
          required: true
          schema:
            type: string
            enum: [image, video, speech, music, transcription, ffmpeg, render, pipeline]
        - name: model
          in: query
          required: false
          schema:
            type: string
          description: Enrich the schema with per-provider options for this model
          example: flux_schnell
      responses:
        "200":
          description: Tool metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  tool_key:
                    type: string
                  description:
                    type: string
                  input_schema:
                    type: object
                    description: JSON Schema for the request body
                  output_schema:
                    type: object
                    description: JSON Schema of the job output
                  example:
                    type: object
                    description: A worked input/output example
        "404":
          $ref: "#/components/responses/ModelNotFound"

  /tools/{tool_key}/call:
    post:
      tags: [Tools]
      operationId: callTool
      summary: Call a tool generically
      description: |
        Generic equivalent of the sugar routes — `POST /tools/image/call` is the
        same as `POST /image`. Useful for dynamic clients that discover tools at
        runtime via `GET /tools`.
      parameters:
        - name: tool_key
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model]
              properties:
                model:
                  type: string
              additionalProperties: true
            examples:
              image:
                summary: Same as POST /image
                value:
                  model: flux_schnell
                  prompt: a cat astronaut
      responses:
        "202":
          $ref: "#/components/responses/JobAccepted"
        "200":
          $ref: "#/components/responses/JobReplay"
        "402":
          $ref: "#/components/responses/InsufficientBalance"
        "404":
          $ref: "#/components/responses/ModelNotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ── Jobs ───────────────────────────────────────────────────────────────────
  /jobs:
    get:
      tags: [Jobs]
      operationId: listJobs
      summary: List jobs
      description: List the caller's jobs, newest first.
      responses:
        "200":
          description: Job list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Job"

  /jobs/{id}:
    get:
      tags: [Jobs]
      operationId: getJob
      summary: Get a job
      description: |
        Full job view. Poll this until `status` is terminal (`completed`,
        `failed`, or `cancelled`), then read `output.outputs[0].url`.
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: The job
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
              examples:
                completed:
                  summary: Completed job
                  value:
                    id: job_a1b2c3d4e5f6
                    status: completed
                    tool: image
                    input:
                      model: flux_schnell
                      prompt: a cat astronaut
                    output:
                      version: v1
                      outputs:
                        - url: https://s3.varg.ai/files/acc_x/file_abc.png
                          file_id: file_abc123
                          media_type: image/png
                          size_bytes: 2048576
                          thumbnail_url: https://s3.varg.ai/thumbs/file_abc123.jpg
                    error: null
                    progress_message: null
                    progress: null
                    estimated_cost_cents: 4
                    actual_cost_cents: 4
                    pricing:
                      estimated: 4
                      actual: 4
                      billing: metered
                      cached: null
                      billed_units:
                        images: 1
                      pricing_id: ppr_abc123
                    provider: fal
                    provider_model: "fal:flux_schnell"
                    provider_status: COMPLETED
                    created_at: "2026-07-01T10:00:00Z"
                    started_at: "2026-07-01T10:00:01Z"
                    completed_at: "2026-07-01T10:00:09Z"
        "404":
          $ref: "#/components/responses/JobNotFound"

  /jobs/{id}/status:
    get:
      tags: [Jobs]
      operationId: getJobStatus
      summary: Get job status (lightweight)
      description: Minimal status projection — cheaper to poll than the full job view.
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    $ref: "#/components/schemas/JobStatus"
                  provider_status:
                    type: [string, "null"]
                  progress_message:
                    type: [string, "null"]
                    example: "stitching 3/8 (40%)"
                  progress:
                    type: [number, "null"]
                    description: Numeric fraction 0..1 for a progress bar
                  error:
                    type: [object, "null"]
        "404":
          $ref: "#/components/responses/JobNotFound"

  /jobs/{id}/price:
    get:
      tags: [Jobs]
      operationId: getJobPrice
      summary: Get job pricing breakdown
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: Pricing breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                  status:
                    $ref: "#/components/schemas/JobStatus"
                  model:
                    type: [string, "null"]
                  tool:
                    type: string
                  pricing_id:
                    type: [string, "null"]
                  estimated_cost_cents:
                    type: [integer, "null"]
                  actual_cost_cents:
                    type: [integer, "null"]
                  billed_units:
                    type: [object, "null"]
                    example:
                      seconds: 6
        "404":
          $ref: "#/components/responses/JobNotFound"

  /jobs/{id}/refresh:
    post:
      tags: [Jobs]
      operationId: refreshJob
      summary: Refresh a job
      description: Force a re-poll of the provider and mirror the latest state onto the job.
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: The refreshed job
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "404":
          $ref: "#/components/responses/JobNotFound"
        "409":
          description: Job is already terminal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /jobs/{id}/cancel:
    post:
      tags: [Jobs]
      operationId: cancelJob
      summary: Cancel a job
      description: Abort a running job (best-effort at the provider). Returns 409 if the job is already terminal.
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: The cancelled job
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "404":
          $ref: "#/components/responses/JobNotFound"
        "409":
          description: Job is already terminal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /jobs/{id}/retry:
    post:
      tags: [Jobs]
      operationId: retryJob
      summary: Retry a failed job
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: The retried job
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "404":
          $ref: "#/components/responses/JobNotFound"
        "409":
          description: Job cannot be retried in its current state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Files ──────────────────────────────────────────────────────────────────
  /files:
    post:
      tags: [Files]
      operationId: uploadFile
      summary: Upload a file
      description: |
        Upload a file as a raw binary body (max 200 MB). Set `Content-Type` to
        the file's media type; when it's missing or generic, varg sniffs the
        type from magic bytes.

        Send `X-Content-Hash: sha256:<hex>` to enable deduplication — if your
        account already has a file with the same content, the existing file is
        returned instantly (`deduplicated: true`) without re-uploading. Use
        `GET /files/check?hash=` to pre-check before sending bytes.
      parameters:
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
          example: image/jpeg
        - name: X-Content-Hash
          in: header
          required: false
          schema:
            type: string
          description: "sha256 hash of the bytes (with or without the `sha256:` prefix) for dedup"
        - name: X-Filename
          in: header
          required: false
          schema:
            type: string
          description: Original filename
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: File stored (or deduplicated)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileUploadResponse"
        "413":
          description: File too large (max 200 MB)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Storage upload failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags: [Files]
      operationId: listFiles
      summary: List files
      description: |
        List the caller's files. Filter by creation criteria (`?tool=speech`,
        `?model=eleven_turbo_v2`, `?q=hello`), by kind (`?kind=image|video|audio`
        for media type, `?kind=upload|generated` for origin), or by date range
        (`?from=`, `?to=`, ISO 8601).
      parameters:
        - name: tool
          in: query
          schema:
            type: string
        - name: model
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
          description: Search in prompts/titles
        - name: kind
          in: query
          schema:
            type: string
            enum: [image, video, audio, upload, generated]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: integer
            default: 0
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: File list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/File"
                  nextCursor:
                    type: [integer, "null"]

  /files/import:
    post:
      tags: [Files]
      operationId: importFile
      summary: Import a file by URL
      description: |
        Register a file from a URL. varg-hosted URLs (`*.varg.ai`) are
        registered without re-uploading; external URLs are streamed to varg
        storage. SSRF-protected (private IPs and localhost are rejected).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                filename:
                  type: string
                media_type:
                  type: string
                origin:
                  type: string
                  enum: [upload, generated]
                  description: Explicit provenance (defaults to `generated` for varg URLs, `upload` for external)
                hash:
                  type: string
                  description: "sha256 of the bytes for dedup (`sha256:<hex>` or bare hex)"
                size:
                  type: integer
                metadata:
                  type: object
                  description: Client-measured metadata (width, height, duration_ms, ...)
            examples:
              external:
                summary: Import an external URL
                value:
                  url: https://example.com/photo.jpg
                  filename: photo.jpg
      responses:
        "200":
          description: File imported (or deduplicated)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileUploadResponse"
        "400":
          description: Missing/unsafe URL or invalid origin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Fetch/store failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /files/probe:
    post:
      tags: [Files]
      operationId: probeFile
      summary: Probe a URL's media metadata
      description: Inspect a media URL (dimensions, duration) without storing it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                media_type:
                  type: string
      responses:
        "200":
          description: Probe result
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  media_type:
                    type: string
                  metadata:
                    type: [object, "null"]
                  width:
                    type: [integer, "null"]
                  height:
                    type: [integer, "null"]
                  duration_ms:
                    type: [number, "null"]
                  duration:
                    type: [number, "null"]
                    description: Seconds
        "400":
          description: Missing or unsafe URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /files/check:
    get:
      tags: [Files]
      operationId: checkFileHash
      summary: Check for an existing file by hash
      description: |
        Dedup pre-check — returns whether your account already has a file with
        this content hash. Lets clients skip the upload entirely.
      parameters:
        - name: hash
          in: query
          required: true
          schema:
            type: string
          description: "sha256 hex, with or without the `sha256:` prefix"
      responses:
        "200":
          description: Check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists:
                    type: boolean
                  file:
                    type: [object, "null"]
                    properties:
                      file_id:
                        type: string
                      url:
                        type: string
                      media_type:
                        type: string
                      size:
                        type: integer
                      filename:
                        type: [string, "null"]
                      origin:
                        type: string

  /files/{id}:
    get:
      tags: [Files]
      operationId: getFile
      summary: Get file metadata
      parameters:
        - $ref: "#/components/parameters/FileId"
      responses:
        "200":
          description: File metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/File"
        "404":
          $ref: "#/components/responses/FileNotFound"
    delete:
      tags: [Files]
      operationId: deleteFile
      summary: Delete a file
      description: Soft-deletes the file (it disappears from lists; the underlying object is garbage-collected later).
      parameters:
        - $ref: "#/components/parameters/FileId"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
        "404":
          $ref: "#/components/responses/FileNotFound"

  /files/{id}/feedback:
    post:
      tags: [Files]
      operationId: addFileFeedback
      summary: Rate or comment on a file
      description: |
        `like`/`dislike` upserts your rating (one per account per file).
        `comment` is append-only.
      parameters:
        - $ref: "#/components/parameters/FileId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind]
              properties:
                kind:
                  type: string
                  enum: [like, dislike, comment]
                comment:
                  type: string
                  maxLength: 2000
                  description: Required when kind=comment
      responses:
        "200":
          description: Rating saved
        "201":
          description: Comment added
        "404":
          $ref: "#/components/responses/FileNotFound"
    get:
      tags: [Files]
      operationId: listFileFeedback
      summary: List feedback for a file
      parameters:
        - $ref: "#/components/parameters/FileId"
      responses:
        "200":
          description: Feedback summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  file_id:
                    type: string
                  likes:
                    type: integer
                  dislikes:
                    type: integer
                  my_rating:
                    type: [string, "null"]
                  comments:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        comment:
                          type: string
                        created_at:
                          type: string
        "404":
          $ref: "#/components/responses/FileNotFound"
    delete:
      tags: [Files]
      operationId: removeFileFeedback
      summary: Remove your rating on a file
      parameters:
        - $ref: "#/components/parameters/FileId"
      responses:
        "200":
          description: Rating removed
        "404":
          $ref: "#/components/responses/FileNotFound"

  # ── Lineage ────────────────────────────────────────────────────────────────
  /lineage:
    post:
      tags: [Lineage]
      operationId: getLineage
      summary: Resolve a file to the job that created it
      description: |
        Given a `file_id` or a varg URL, returns the job that produced the file
        together with its recipe (prompt, model, tool, cost) — so an agent can
        "create something similar".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_id:
                  type: string
                url:
                  type: string
                  format: uri
            examples:
              by-id:
                value:
                  file_id: file_abc123
              by-url:
                value:
                  url: https://s3.varg.ai/files/acc_x/file_abc.png
      responses:
        "200":
          description: Lineage
          content:
            application/json:
              schema:
                type: object
                properties:
                  file_id:
                    type: string
                  job_id:
                    type: string
                  tool:
                    type: string
                  input:
                    type: object
                    description: The job's input (prompt, model, code, ...)
        "404":
          description: File not found or no job linked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Pricing ────────────────────────────────────────────────────────────────
  /estimate:
    post:
      tags: [Pricing]
      operationId: estimatePrice
      summary: Estimate a price without creating a job
      description: |
        Send the same body you would send to a generation endpoint and get the
        price back. Also accepts a batch format with an `items` array where each
        item carries `tool`, `model`, and `params`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [model]
                  properties:
                    model:
                      type: string
                    tool:
                      type: string
                  additionalProperties: true
                  title: Single
                - type: object
                  required: [items]
                  properties:
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          tool:
                            type: string
                          capability:
                            type: string
                          model:
                            type: string
                          params:
                            type: object
                  title: Batch
            examples:
              single:
                summary: Single estimate
                value:
                  model: kling_v3
                  prompt: cat jumping over a fence
                  duration: 5
              batch:
                summary: Batch estimate
                value:
                  items:
                    - tool: image
                      model: flux_schnell
                      params:
                        aspect_ratio: "16:9"
                    - tool: video
                      model: kling_v3
                      params:
                        duration: 5
      responses:
        "200":
          description: Estimate
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: Single
                    properties:
                      valid:
                        type: boolean
                      model:
                        type: string
                      tool:
                        type: string
                      pricing:
                        type: object
                        properties:
                          provider_cost_cents:
                            type: [integer, "null"]
                          user_price_cents:
                            type: [integer, "null"]
                          markup_percent:
                            type: number
                          pricing_id:
                            type: [string, "null"]
                  - type: object
                    title: Batch
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            capability:
                              type: string
                            model:
                              type: string
                            credits:
                              type: integer
                            billing:
                              type: string
                            provider:
                              type: string
                      total_credits:
                        type: integer
        "404":
          $ref: "#/components/responses/ModelNotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "503":
          $ref: "#/components/responses/NoPricing"

  /pricing:
    get:
      tags: [Pricing]
      operationId: getPricingCatalog
      summary: Get the price catalog (public)
      description: |
        The full model catalog with per-provider price estimates, grouped by
        tool. No authentication required.
      security: []
      responses:
        "200":
          description: Price catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        model:
                          type: string
                          example: flux_schnell
                        tool:
                          type: string
                          example: image
                        providers:
                          type: array
                          items:
                            type: object
                            properties:
                              provider:
                                type: string
                                example: fal
                              model_key:
                                type: string
                                example: "fal:flux_schnell"
                              pricing_id:
                                type: [string, "null"]
                              user_price_estimate_cents:
                                type: [integer, "null"]

  # ── Billing ────────────────────────────────────────────────────────────────
  /billing/balance:
    get:
      tags: [Billing]
      operationId: getBalance
      summary: Get balance
      description: |
        Balance breakdown in cents (credits). `available` = total − reserved.
        `reserved` is held by in-flight jobs and is committed on completion or
        released on failure.
      responses:
        "200":
          description: Balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription_balance:
                    type: integer
                    example: 5000
                  subscription_expires:
                    type: [string, "null"]
                  rollover_balance:
                    type: integer
                    example: 2000
                  rollover_expires:
                    type: [string, "null"]
                  onetime_balance:
                    type: integer
                    example: 1500
                  reserved:
                    type: integer
                    example: 300
                  available:
                    type: integer
                    example: 8200
                  total_balance:
                    type: integer
                    example: 8500

  /billing/usage:
    get:
      tags: [Billing]
      operationId: getUsage
      summary: Get usage records
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        "200":
          description: Usage records
          content:
            application/json:
              schema:
                type: object
                properties:
                  usage:
                    type: array
                    items:
                      type: object
                      properties:
                        job_id:
                          type: string
                        provider:
                          type: string
                        cost_cents:
                          type: integer
                        billing_type:
                          type: string
                          example: metered
                        billed_units:
                          type: [object, "null"]
                          example:
                            images: 1
                        created_at:
                          type: string
                  total_cents:
                    type: integer

  /billing/transactions:
    get:
      tags: [Billing]
      operationId: getTransactions
      summary: Get transaction ledger
      description: |
        Account ledger rows (spend/topup history). Negative `amount_cents` =
        charge, positive = credit. Job charges carry context (`job_id`, `tool`,
        `model`, `billed_units`).
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        amount_cents:
                          type: integer
                          example: -150
                        type:
                          type: string
                          example: job_charge
                        bucket:
                          type: string
                          example: onetime
                        balance_after_cents:
                          type: integer
                        billed_units:
                          type: [object, "null"]
                        job_id:
                          type: [string, "null"]
                        tool:
                          type: [string, "null"]
                          example: Video
                        tool_key:
                          type: [string, "null"]
                          example: video
                        model:
                          type: [string, "null"]
                          example: kling_v3
                        created_at:
                          type: string
                  total:
                    type: integer

  # ── Account ────────────────────────────────────────────────────────────────
  /me:
    get:
      tags: [Account]
      operationId: getMe
      summary: Get the authenticated account
      responses:
        "200":
          description: Account identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    format: uuid
                  email:
                    type: [string, "null"]

  /api-keys:
    get:
      tags: [Account]
      operationId: listApiKeys
      summary: List API keys
      description: Requires an app session (Supabase JWT), not an API key.
      responses:
        "200":
          description: API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_keys:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApiKey"
        "403":
          description: Only app sessions can manage API keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags: [Account]
      operationId: createApiKey
      summary: Create an API key
      description: |
        Creates a new API key. The plaintext key is returned **once** in the
        `api_key` field — store it securely. Requires an app session (JWT).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 64
      responses:
        "201":
          description: Key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    type: string
                    description: The plaintext key — shown only once
                    example: varg_a1b2c3...
                  key:
                    $ref: "#/components/schemas/ApiKey"
        "403":
          description: Only app sessions can create API keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api-keys/{id}:
    patch:
      tags: [Account]
      operationId: renameApiKey
      summary: Rename an API key
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  maxLength: 64
      responses:
        "200":
          description: Key renamed
        "404":
          description: Unknown API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [Account]
      operationId: revokeApiKey
      summary: Revoke an API key
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Key revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  revoked_at:
                    type: string
        "404":
          description: Unknown API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        varg API key (`varg_...`). Get one at [app.varg.ai](https://app.varg.ai)
        or run `bunx vargai login`. App sessions may alternatively send a
        Supabase JWT.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
      description: |
        Any unique string. Retrying a request with the same key returns the
        existing job (HTTP 200) instead of creating and charging a new one
        (HTTP 202).
    JobId:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: "^job_"
      example: job_a1b2c3d4e5f6
    FileId:
      name: id
      in: path
      required: true
      schema:
        type: string
      example: file_abc123

  schemas:
    JobStatus:
      type: string
      enum: [queued, submitting, running, completed, failed, cancelled]
      description: |
        Lifecycle is `queued` then `submitting` then `running`, ending in a
        terminal status (`completed`, `failed`, or `cancelled`).

    JobOutput:
      type: object
      description: Canonical output envelope. Present only when the job is completed.
      properties:
        version:
          type: string
          const: v1
        outputs:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                description: Stable varg-hosted URL (s3.varg.ai)
              file_id:
                type: string
                description: The file record for this output — use with /files and /lineage
              media_type:
                type: string
                example: video/mp4
              size_bytes:
                type: integer
              thumbnail_url:
                type: [string, "null"]

    JobPricing:
      type: object
      description: "Structured pricing. 1 credit = 1 cent = $0.01."
      properties:
        estimated:
          type: [integer, "null"]
          description: Reserved at creation (cents)
        actual:
          type: [integer, "null"]
          description: Charged at completion (cents). 0 for cache hits.
        billing:
          type: [string, "null"]
        cached:
          type: [boolean, "null"]
          description: true when the result came from cache (actual = 0)
        billed_units:
          type: [object, "null"]
          example:
            images: 1
        pricing_id:
          type: [string, "null"]
          description: The pinned pricing rule this job was charged under

    Job:
      type: object
      properties:
        id:
          type: string
          example: job_a1b2c3d4e5f6
        status:
          $ref: "#/components/schemas/JobStatus"
        tool:
          type: string
          example: image
        input:
          type: object
          description: The request body as submitted (model, prompt, ...)
        output:
          oneOf:
            - $ref: "#/components/schemas/JobOutput"
            - type: "null"
        error:
          type: [object, "null"]
        progress_message:
          type: [string, "null"]
          example: "stitching 3/8 (40%)"
        progress:
          type: [number, "null"]
          description: Fraction 0..1
        progress_metadata:
          type: [object, "null"]
        estimated_duration_ms:
          type: [integer, "null"]
        estimated_cost_cents:
          type: [integer, "null"]
        actual_cost_cents:
          type: [integer, "null"]
        pricing:
          $ref: "#/components/schemas/JobPricing"
        provider:
          type: [string, "null"]
          example: fal
        provider_model:
          type: [string, "null"]
          example: "fal:flux_schnell"
        provider_status:
          type: [string, "null"]
          description: The provider's raw status string
        provider_job_id:
          type: [string, "null"]
        created_at:
          type: string
          format: date-time
        started_at:
          type: [string, "null"]
          format: date-time
        completed_at:
          type: [string, "null"]
          format: date-time
        urls:
          type: object
          description: Lifecycle URLs (present on creation responses)
          properties:
            self:
              type: string
            status:
              type: string
            refresh:
              type: string
            cancel:
              type: string
            retry:
              type: string

    FileInput:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: Public http(s) URL — upload via POST /files first to get a stable varg URL

    ProviderOptions:
      type: object
      description: |
        Provider-native overrides, keyed by provider id
        (e.g. a `fal` object with `seed`, `num_images`, ...). Discover
        per-model fields via `GET /tools/{tool_key}?model=<model>`.
      additionalProperties:
        type: object

    JobOptions:
      type: object
      description: Cross-cutting job options
      properties:
        webhook_url:
          type: string
          format: uri
          description: |
            HTTPS URL to receive the job snapshot when the job reaches a
            terminal status. Signed with an `X-Varg-Signature` HMAC header.
            8 retries with exponential backoff.

    ImageRequest:
      type: object
      required: [model]
      properties:
        model:
          type: string
          description: Model id (`flux_schnell`) or provider-pinned (`fal:flux_schnell`)
          example: flux_schnell
        prompt:
          type: string
          maxLength: 2000
        aspect_ratio:
          type: string
          example: "16:9"
        files:
          type: array
          maxItems: 10
          items:
            $ref: "#/components/schemas/FileInput"
          description: Source images for editing / reference
        provider_options:
          $ref: "#/components/schemas/ProviderOptions"
        options:
          $ref: "#/components/schemas/JobOptions"

    VideoRequest:
      type: object
      required: [model]
      properties:
        model:
          type: string
          example: kling_v3
        prompt:
          type: string
          maxLength: 2000
        aspect_ratio:
          type: string
          example: "16:9"
        duration:
          oneOf:
            - type: number
              minimum: 1
              maximum: 120
            - type: string
          description: Seconds
        files:
          type: array
          maxItems: 10
          items:
            $ref: "#/components/schemas/FileInput"
          description: Start frame (image-to-video), source video + audio (lipsync), etc.
        provider_options:
          $ref: "#/components/schemas/ProviderOptions"
        options:
          $ref: "#/components/schemas/JobOptions"

    SpeechRequest:
      type: object
      required: [model, text]
      properties:
        model:
          type: string
          example: eleven_v3
        text:
          type: string
          minLength: 1
          maxLength: 10000
        voice:
          type: string
          example: rachel
        provider_options:
          $ref: "#/components/schemas/ProviderOptions"
        options:
          $ref: "#/components/schemas/JobOptions"

    MusicRequest:
      type: object
      required: [model, prompt]
      properties:
        model:
          type: string
          example: music_v1
        prompt:
          type: string
          minLength: 1
          maxLength: 1000
        duration:
          type: number
          minimum: 1
          maximum: 600
          description: Seconds
        provider_options:
          $ref: "#/components/schemas/ProviderOptions"
        options:
          $ref: "#/components/schemas/JobOptions"

    TranscriptionRequest:
      type: object
      required: [model, audio_url]
      properties:
        model:
          type: string
          example: whisper
        audio_url:
          type: string
          format: uri
        language:
          type: string
          example: en
        provider_options:
          $ref: "#/components/schemas/ProviderOptions"
        options:
          $ref: "#/components/schemas/JobOptions"

    FfmpegRequest:
      oneOf:
        - title: Command
          type: object
          required: [model, command, input_files, output_files]
          properties:
            model:
              type: string
              const: rendi_ffmpeg
            command:
              type: string
              description: "ffmpeg args with `{{in_N}}` / `{{out_N}}` placeholders"
            input_files:
              type: object
              additionalProperties:
                type: string
                format: uri
            output_files:
              oneOf:
                - type: object
                  additionalProperties:
                    type: string
                - type: string
                  const: OUTPUT_FOLDER
        - title: Trim
          type: object
          required: [model, url, start]
          properties:
            model:
              type: string
              const: rendi_ffmpeg_trim
            url:
              type: string
              format: uri
            start:
              type: number
              minimum: 0
            end:
              type: number
            duration:
              type: number
            precise:
              type: boolean
              default: false
              description: Re-encode for frame-accurate cuts (slower)
        - title: Resize
          type: object
          required: [model, url]
          properties:
            model:
              type: string
              const: rendi_ffmpeg_resize
            url:
              type: string
              format: uri
            width:
              type: integer
              minimum: 1
              maximum: 7680
            height:
              type: integer
              minimum: 1
              maximum: 4320
            fit:
              type: string
              enum: [contain, cover, stretch]
              default: cover
        - title: Slice
          type: object
          required: [model, video_url]
          properties:
            model:
              type: string
              const: rendi_ffmpeg_slice
            video_url:
              type: string
              format: uri
            every:
              type: number
              minimum: 0.1
              maximum: 3600
              description: Split every N seconds
            at:
              type: array
              items:
                type: number
              description: Split at these timestamps
            count:
              type: integer
              minimum: 2
              maximum: 1000
              description: Split into N equal segments
            ranges:
              type: array
              items:
                type: object
                properties:
                  start:
                    type: number
                  end:
                    type: number
            codec:
              type: string
              enum: [copy, reencode]
              default: copy
            thumbnails:
              type: boolean
              default: true

    RenderRequest:
      type: object
      required: [code]
      properties:
        code:
          type: string
          description: |
            TSX source. Import components from `vargai/react` and providers
            from `vargai/ai`, and default-export a `<Render>` element.
        mode:
          type: string
          enum: [strict, preview]
          description: "`strict` (default) fails on errors; `preview` substitutes placeholders"
        output:
          type: string
          enum: [video, frames]
          description: "`frames` skips stitching for image-only renders"
        verbose:
          type: boolean

    PipelineRequest:
      type: object
      required: [model]
      properties:
        model:
          type: string
          description: The pipeline name
          example: v2vStitch
      additionalProperties: true

    File:
      type: object
      properties:
        id:
          type: string
          example: file_abc123
        url:
          type: string
        media_type:
          type: string
        size_bytes:
          type: integer
        hash:
          type: [string, "null"]
        metadata:
          type: [object, "null"]
          example:
            width: 1920
            height: 1080
        filename:
          type: [string, "null"]
        title:
          type: [string, "null"]
          description: AI-generated title
        subtitle:
          type: [string, "null"]
        thumbnail_url:
          type: [string, "null"]
        origin:
          type: string
          enum: [upload, generated]
        tool:
          type: [string, "null"]
          description: The tool of the job that produced this file (via lineage)
        created_at:
          type: [string, "null"]

    FileUploadResponse:
      type: object
      properties:
        file_id:
          type: string
        url:
          type: string
          description: Stable varg-hosted URL
        hash:
          type: [string, "null"]
        size:
          type: integer
        media_type:
          type: string
        filename:
          type: [string, "null"]
        title:
          type: [string, "null"]
        subtitle:
          type: [string, "null"]
        metadata:
          type: [object, "null"]
        deduplicated:
          type: boolean
          description: true when an existing file with the same content was returned

    ApiKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key_preview:
          type: string
          example: varg_a1b2...c3d4
        name:
          type: string
        created_at:
          type: string
        last_active_at:
          type: [string, "null"]

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: model_not_found
            message:
              type: string
              example: "Unknown model: flux-shnell"
            details: {}

  responses:
    JobAccepted:
      description: Job created and queued. Poll `urls.self` until terminal.
      headers:
        X-RateLimit-Limit:
          schema:
            type: string
        X-RateLimit-Remaining:
          schema:
            type: string
        X-RateLimit-Reset:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Job"
          examples:
            queued:
              summary: Queued job
              value:
                id: job_a1b2c3d4e5f6
                status: queued
                tool: image
                input:
                  model: flux_schnell
                  prompt: a cat astronaut
                output: null
                error: null
                estimated_cost_cents: 4
                actual_cost_cents: null
                pricing:
                  estimated: 4
                  actual: null
                  billing: metered
                  cached: null
                  billed_units: null
                  pricing_id: ppr_abc123
                provider: fal
                provider_model: "fal:flux_schnell"
                created_at: "2026-07-01T10:00:00Z"
                urls:
                  self: https://api.varg.ai/v2/jobs/job_a1b2c3d4e5f6
                  status: https://api.varg.ai/v2/jobs/job_a1b2c3d4e5f6/status
                  refresh: https://api.varg.ai/v2/jobs/job_a1b2c3d4e5f6/refresh
                  cancel: https://api.varg.ai/v2/jobs/job_a1b2c3d4e5f6/cancel
                  retry: https://api.varg.ai/v2/jobs/job_a1b2c3d4e5f6/retry
    JobReplay:
      description: Idempotency replay — the existing job for this `Idempotency-Key` (no new charge).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Job"
    ValidationError:
      description: Request body failed validation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            invalid:
              value:
                error:
                  code: invalid_request
                  message: "Body validation failed (text: Required)"
    ModelNotFound:
      description: Unknown model or tool
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            model:
              value:
                error:
                  code: model_not_found
                  message: "Unknown model: flux-shnell"
    JobNotFound:
      description: Unknown job (or not owned by the caller)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    FileNotFound:
      description: Unknown file (or not owned by the caller)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InsufficientBalance:
      description: Account balance too low to reserve the estimated cost
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            insufficient:
              value:
                error:
                  code: insufficient_balance
                  message: Insufficient balance to run this job
    RateLimited:
      description: Rate limit exceeded (sliding window per API key)
      headers:
        Retry-After:
          schema:
            type: string
        X-RateLimit-Limit:
          schema:
            type: string
        X-RateLimit-Remaining:
          schema:
            type: string
        X-RateLimit-Reset:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NoPricing:
      description: No active pricing rule for this model
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
